// COMMON :: START


/* ICONS */
.ic {
  &:before {
    content: "";
    display: block;
  }
}
/* ICONS
==================== */

.title {
  z-index: 0;
  position: absolute;
  text-transform: uppercase;
  line-height: 1;
  color: rgba($c-black, 0.05);
  font-size: 208px;
  font-weight: 800;
  @include respond(max-large) {
    font-size: 208px;
  }
  @include respond(max-medium) {
    font-size: 158px;
  }
  @include respond(max-small) {
    font-size: 108px;
  }
  @include respond(max-extra-small) {
    font-size: 58px;
  }
}


.btn {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 179px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-image: linear-gradient(0, rgb(0,70,190) 0%, rgb(0,70,190) 0%, rgb(0,115,255) 100%);
  color: $c-white;
  font-size: 16px;
  font-weight: 600;

  &--gr {

    &:hover {
      &:after {
        opacity: 1 !important;
        @include transition(opacity);
      }
    }

    &:after {
      opacity: 0;
    }
  }

  span {
    margin-right: 10px;
  }

  span,
  i {
    z-index: 2;
    position: relative;
  }

  &:hover {
    i {
      animation-name: slideInLeftCustom;
    }
    &:after {
      opacity: 0;
      @include transition(opacity);
    }
  }

  &:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-232323;
    @include transition(opacity);
  }
}
@keyframes slideInLeftCustom {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px);
  }
}


// COMMON :: END