///
/// ADDITIONALLY
/// ===============
$maxWidth: 1350px;

%grid {
  z-index: 1;
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}


///
/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }


  &-fluid {
    @extend %grid;
    max-width: 100%;
  }
}
