/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}


.hamburger:hover {
  opacity: 0.7;
}


.hamburger-box {
  width: 35px;
  height: 21px;
  display: inline-block;
  position: relative;
}


.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}


.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}


.hamburger-inner::before {
  top: -9px;
}


.hamburger-inner::after {
  bottom: -9px;
}



.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}


.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}


.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}


.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.btn-corner:before {
  background-image: url("../img/sprite.png");
  background-position: -74px 0px;
  background-repeat: no-repeat;
  width: 10px;
  height: 14px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
  .btn-corner:before {
    -webkit-background-size: 84px 57px;
            background-size: 84px 57px;
    background-image: url("../img/sprite@2x.png");
  }
}


.chevron-down:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -39px;
  background-repeat: no-repeat;
  width: 30px;
  height: 18px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
  .chevron-down:before {
    -webkit-background-size: 84px 57px;
            background-size: 84px 57px;
    background-image: url("../img/sprite@2x.png");
  }
}


.lightbulb:before {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 40px;
  height: 34px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
  .lightbulb:before {
    -webkit-background-size: 84px 57px;
            background-size: 84px 57px;
    background-image: url("../img/sprite@2x.png");
  }
}


.list-check:before {
  background-image: url("../img/sprite.png");
  background-position: -35px -39px;
  background-repeat: no-repeat;
  width: 18px;
  height: 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
  .list-check:before {
    -webkit-background-size: 84px 57px;
            background-size: 84px 57px;
    background-image: url("../img/sprite@2x.png");
  }
}


.play-circle:before {
  background-image: url("../img/sprite.png");
  background-position: -45px 0px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
  .play-circle:before {
    -webkit-background-size: 84px 57px;
            background-size: 84px 57px;
    background-image: url("../img/sprite@2x.png");
  }
}


.c-grid, .c-grid-fluid {
  z-index: 1;
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}


.c-grid {
  max-width: 1350px;
}


.c-grid-fluid {
  max-width: 100%;
}


html,
body {
  width: 100vw;
  min-height: 100vh;
}


html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden;
}


html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  color: #232323;
  font-size: 18px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}


button,
input {
  overflow: visible;
}


button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}


[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


textarea {
  overflow: auto;
}


p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  list-style: none;
}


a {
  outline: none;
  text-decoration: none;
}


a:hover, a:focus {
  text-decoration: none;
}


input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}



.ic:before {
  content: "";
  display: block;
}



.title {
  z-index: 0;
  position: absolute;
  text-transform: uppercase;
  line-height: 1;
  color: rgba(0, 0, 0, 0.05);
  font-size: 208px;
  font-weight: 800;
}

@media screen and (max-width: 1199px) {
  
  .title {
    font-size: 208px;
  }
}

@media screen and (max-width: 991px) {
  
  .title {
    font-size: 158px;
  }
}

@media screen and (max-width: 767px) {
  
  .title {
    font-size: 108px;
  }
}

@media screen and (max-width: 575px) {
  
  .title {
    font-size: 58px;
  }
}


.btn {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 179px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #0046be), color-stop(0%, #0046be), to(#0073ff));
  background-image: -webkit-linear-gradient(0, #0046be 0%, #0046be 0%, #0073ff 100%);
  background-image: -o-linear-gradient(0, #0046be 0%, #0046be 0%, #0073ff 100%);
  background-image: linear-gradient(0, #0046be 0%, #0046be 0%, #0073ff 100%);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}


.btn--gr:hover:after {
  opacity: 1 !important;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}


.btn--gr span {
  margin-right: 0 !important;
}


.btn--gr:after {
  opacity: 0;
}


.btn span {
  margin-right: 10px;
}


.btn span,
.btn i {
  z-index: 2;
  position: relative;
}


.btn:hover i {
  -webkit-animation-name: slideInLeftCustom;
          animation-name: slideInLeftCustom;
}


.btn:hover:after {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}


.btn:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@-webkit-keyframes slideInLeftCustom {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes slideInLeftCustom {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@media screen and (max-width: 767px) {
  
  .logo--footer img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
  }
}


.nav--footer {
  width: 100%;
  max-width: 825px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 58px;
}

@media screen and (max-width: 767px) {
  
  .nav--footer {
    padding-bottom: 29px;
  }
}


.nav--footer .nav__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  
  .nav--footer .nav__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}


.nav--footer .nav__wrapper-0 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  
  .nav--footer .nav__wrapper-0 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}


.nav--footer .nav__wrapper-1 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.nav--footer .nav__btn {
  white-space: nowrap;
  margin-bottom: 46px;
  margin-left: 30px;
  margin-right: 30px;
  color: #898989;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  
  .nav--footer .nav__btn {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 23px;
    text-align: center;
    font-size: 16px;
  }
}


.nav--footer .nav__btn:hover {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}


.nav--footer .nav__btn:first-child {
  margin-left: 0;
}


.nav--footer .nav__btn:last-child {
  margin-right: 0;
}


.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 71px;
}

@media screen and (max-width: 767px) {
  
  .social {
    padding-bottom: 52px;
  }
}


.social__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  color: #0073ff;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.social__btn:hover {
  color: #fff;
  background-color: transparent;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.social__btn:first-child {
  margin-left: 0;
}


.social__btn:last-child {
  margin-right: 0;
}


.copyright {
  padding-bottom: 50px;
  text-align: center;
}


.copyright p {
  font-size: 14px;
  color: #898989;
}


.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}


.header.header--fixed {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}


.header.header--fixed .header__wrapper {
  min-height: 80px;
  -webkit-transition: min-height 0.3s ease-in-out;
  -o-transition: min-height 0.3s ease-in-out;
  transition: min-height 0.3s ease-in-out;
}


.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-transition: min-height 0.3s ease-in-out;
  -o-transition: min-height 0.3s ease-in-out;
  transition: min-height 0.3s ease-in-out;
}

@media screen and (max-width: 1365px) {
  
  .header__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  
  .header__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  
  .header__wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}


.header__wrapper-left {
  width: 260px;
}


.header__wrapper-left a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 575px) {
  
  .header__wrapper-left a img {
    height: -webkit-calc(69px / 2);
    height: calc(69px / 2);
  }
}


.header__wrapper-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: -webkit-calc(100% - 260px);
  width: calc(100% - 260px);
}

@media screen and (max-width: 991px) {
  
  .header__wrapper-mobile {
    display: none;
  }
  
  .header__wrapper-mobile.is-open {
    overflow-y: auto;
    z-index: 100;
    position: fixed;
    display: block;
    top: 100px;
    left: 0;
    width: 100vw;
    height: -webkit-calc(100% - 100px);
    height: calc(100% - 100px);
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }
  
  .header--fixed .header__wrapper-mobile.is-open {
    top: 80px;
    height: -webkit-calc(100% - 80px);
    height: calc(100% - 80px);
  }
}


.header__btn {
  text-transform: uppercase;
  margin: 0;
  margin-left: 50px;
}

@media screen and (max-width: 1365px) {
  
  .header__btn {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  
  .header__btn {
    margin-left: 15px;
  }
}

@media screen and (max-width: 991px) {
  
  .header__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}


.header__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  color: #232323;
  font-weight: 800;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 1365px) {
  
  .header__link {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  
  .header__link {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 991px) {
  
  .header__link {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}


.header__link.is-active {
  color: #ed1466;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}


.header__link:hover {
  color: #0073ff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}


.header .hamburger {
  display: none;
}

@media screen and (max-width: 991px) {
  
  .header .hamburger {
    display: block;
  }
}


.footer {
  min-height: 599px;
  padding-top: 100px;
  background-color: #232323;
}

@media screen and (max-width: 767px) {
  
  .footer {
    padding-top: 50px;
  }
}


.footer__logotype {
  text-align: center;
}


.main {
  position: relative;
  padding-top: 185px;
  padding-bottom: 85px;
}

@media screen and (max-width: 767px) {
  
  .main {
    padding-top: 155px;
    padding-bottom: 42px;
  }
}


.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  
  .main__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}


.main__wrapper-left, .main__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 991px) {
  
  .main__wrapper-left, .main__wrapper-right {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  
  .main__wrapper-left {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  
  .main__wrapper-right {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}


.main__wrapper-cover {
  width: 100%;
  max-width: 636px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  
  .main__wrapper-cover {
    max-width: 100%;
  }
}


.main__wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.main__title {
  padding-bottom: 50px;
  line-height: 1;
  font-size: 100px;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  
  .main__title {
    padding-bottom: 30px;
    font-size: 75px;
  }
}

@media screen and (max-width: 575px) {
  
  .main__title {
    padding-bottom: 30px;
    font-size: 55px;
  }
  
  .main__title br {
    display: none;
  }
}


.main__title span {
  color: #ed1466;
}


.main__text {
  width: 100%;
  max-width: 587px;
  padding-bottom: 50px;
  line-height: 1.5;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  
  .main__text {
    padding-bottom: 30px;
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  
  .main__text {
    padding-bottom: 30px;
    font-size: 18px;
  }
}


.main__btn {
  margin-left: 0;
  text-transform: uppercase;
}


.main__link {
  position: absolute;
  bottom: 25px;
  width: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


.features {
  overflow: hidden;
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}

@media screen and (max-width: 767px) {
  
  .features {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}


.features__title {
  top: 125px;
  left: 0;
}


.features__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  
  .features__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}


.features__wrapper-left, .features__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  
  .features__wrapper-left, .features__wrapper-right {
    width: 100%;
  }
}


.features__wrapper-left {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  
  .features__wrapper-left {
    padding-bottom: 30px;
  }
}


.features__wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.features__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

@media screen and (max-width: 575px) {
  
  .features__block {
    padding-bottom: 30px;
  }
}


.features__block:last-child {
  padding-bottom: 0;
}


.features__block-left {
  width: 92px;
  padding-top: 15px;
}

@media screen and (max-width: 575px) {
  
  .features__block-left {
    width: 72px;
  }
}


.features__block-left i {
  color: #ed1466;
  font-size: 30px;
}


.features__block-right {
  width: -webkit-calc(100% - 92px);
  width: calc(100% - 92px);
}

@media screen and (max-width: 575px) {
  
  .features__block-right {
    width: -webkit-calc(100% - 72px);
    width: calc(100% - 72px);
  }
}


.features__block-title {
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 800;
}

@media screen and (max-width: 991px) {
  
  .features__block-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 575px) {
  
  .features__block-title {
    font-size: 26px;
    padding-bottom: 10px;
  }
}


.features__block-text {
  width: 100%;
  max-width: 441px;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  
  .features__block-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  
  .features__block-text {
    max-width: 100%;
  }
}

@media screen and (max-width: 575px) {
  
  .features__block-text {
    font-size: 14px;
  }
}


.features__block-link {
  display: block;
  margin-top: 15px;
  color: #ed1466;
  font-weight: 500;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}


.features__block-link:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}


.video {
  position: relative;
  background-color: #d7d7d7;
  background-image: url("../img/img-video@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}


.video__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 700px;
  color: #fff;
}


.video__title {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
}

@media screen and (max-width: 575px) {
  
  .video__title {
    font-size: 26px;
  }
}


.video__subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 24px;
}


.video__subtitle i {
  margin-left: 10px;
}


.spec {
  overflow: hidden;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and (max-width: 767px) {
  
  .spec {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


.spec__title {
  bottom: 0;
  left: 0;
  -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
          writing-mode: tb;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

@media screen and (max-width: 767px) {
  
  .spec__title {
    bottom: 50%;
    -webkit-transform: scale(-1) translateY(-50%);
        -ms-transform: scale(-1) translateY(-50%);
            transform: scale(-1) translateY(-50%);
  }
}


.spec__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  
  .spec__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}


.spec__wrapper-left, .spec__wrapper-right {
  width: 50%;
}

@media screen and (min-width: 768px) {
  
  .spec__wrapper-left, .spec__wrapper-right {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  
  .spec__wrapper-left, .spec__wrapper-right {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  
  .spec__wrapper-left {
    padding-left: 30px;
    padding-right: 30px;
  }
}


.spec__wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

@media screen and (max-width: 767px) {
  
  .spec__wrapper img {
    margin-bottom: 50px;
  }
}


.spec__wrapper img:last-child {
  margin-bottom: 0;
}


.spec__subtitle, .spec__text {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}


.spec__subtitle {
  padding-top: 101px;
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  
  .spec__subtitle {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 20px;
  }
}


.spec__text {
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  
  .spec__text {
    font-size: 14px;
  }
}


.spec__text--lh {
  line-height: 2;
}


.spec__text span {
  font-weight: bold;
}


.pledges {
  overflow: hidden;
  position: relative;
  min-height: 1024px;
  padding-top: 247px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 767px) {
  
  .pledges {
    padding-top: 123px;
    padding-bottom: 50px;
  }
}


.pledges__title {
  right: 0;
  bottom: 177px;
}


.pledges__block {
  width: 100%;
  max-width: 300px;
  min-height: 450px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 50px 37px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1199px) {
  
  .pledges__block {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 991px) {
  
  .pledges__block {
    padding: 50px 37px 40px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  
  .pledges__block {
    padding: 30px;
    margin: 0;
    margin-bottom: 30px;
  }
}


.pledges__block:first-child {
  margin-left: 0;
}

@media screen and (max-width: 991px) {
  
  .pledges__block:first-child {
    margin-left: 15px;
  }
}

@media screen and (max-width: 575px) {
  
  .pledges__block:first-child {
    margin-left: 0;
  }
}


.pledges__block:last-child {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  
  .pledges__block:last-child {
    margin-right: 15px;
  }
}

@media screen and (max-width: 575px) {
  
  .pledges__block:last-child {
    margin-right: 0;
  }
}


.pledges__block-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  
  .pledges__block-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}


.pledges__block-title {
  text-align: center;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  
  .pledges__block-title {
    font-size: 22px;
  }
}


.pledges__block-price {
  padding-bottom: 15px;
  line-height: 1;
  text-align: center;
  font-size: 82px;
  font-weight: 800;
}

@media screen and (max-width: 1365px) {
  
  .pledges__block-price {
    font-size: 72px;
  }
}

@media screen and (max-width: 1199px) {
  
  .pledges__block-price {
    font-size: 52px;
  }
}

@media screen and (max-width: 991px) {
  
  .pledges__block-price {
    font-size: 72px;
  }
}


.pledges__block-price span {
  font-size: 42px;
}

@media screen and (max-width: 1199px) {
  
  .pledges__block-price span {
    font-size: 32px;
  }
}

@media screen and (max-width: 991px) {
  
  .pledges__block-price span {
    font-size: 42px;
  }
}


.pledges__block-line {
  width: 100%;
  max-width: 150px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  background-color: #ed1466;
}

@media screen and (max-width: 1199px) {
  
  .pledges__block-line {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 991px) {
  
  .pledges__block-line {
    margin-bottom: 32px;
  }
}


.pledges__block-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 1365px) {
  
  .pledges__block-list li {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  
  .pledges__block-list li {
    font-size: 18px;
  }
}


.pledges__block-list li i {
  margin-right: 15px;
}


.pledges__block-btn {
  margin-top: 50px;
}

@media screen and (max-width: 1199px) {
  
  .pledges__block-btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  
  .pledges__block-btn {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=maps/app.css.map */
