// FOOTER :: START

footer#footer.footer
  .c-grid

    .footer__logotype
      include ../macros/_logotype-footer

    include ../macros/_social
    include ../macros/_nav-footer
    include ../macros/_copyright
// FOOTER :: END