// VIDEO :: START

section#video.video
  .c-grid
    .video__wrapper
      p.video__title!= "Product Video"
      a(href="#").video__subtitle
        span!= "Watch"
        i.ic.play-circle

// VIDEO :: END