// HOW IT WORKS  :: START

section#works.works
  h2.works__title.title(
    parallax-js
    data-stellar-ratio="1.35"
  )!= "How It Works"

  .c-grid-fluid
    .works__wrapper
      
      img.works__img(
        srcset="./img/img-howItWorks-bg.png, ./img/img-howItWorks-bg@2x.png 2x"
        alt="" title=""
       )

// WORKS  :: END