// FEATURES :: START

.features {
  overflow: hidden;
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  @include respond(max-small) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &__title {
    top: 125px;
    left: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include respond(max-small) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include respond(max-small) {
        width: 100%;
      }
    }

    &-left {
      padding-left: 30px;
      padding-right: 30px;
      @include respond(max-small) {
        padding-bottom: 30px;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__block {
    display: flex;
    padding-bottom: 60px;
    @include respond(max-extra-small) {
      padding-bottom: 30px;
    }

    &:last-child {
      padding-bottom: 0;
    }


    &-left {
      width: 92px;
      padding-top: 15px;
      @include respond(max-extra-small) {
        width: 72px;
      }

      i {
        color: $c-ed1466;
        font-size: 30px;
      }
    }

    &-right {
      width: calc(100% - 92px);
      @include respond(max-extra-small) {
        width: calc(100% - 72px);
      }
    }

    &-title {
      padding-bottom: 20px;
      font-size: 36px;
      font-weight: 800;
      @include respond(max-medium) {
        font-size: 32px;
      }
      @include respond(max-extra-small) {
        font-size: 26px;
        padding-bottom: 10px;
      }
    }

    &-text {
      width: 100%;
      max-width: 441px;
      line-height: 1.5;
      @include respond(max-medium) {
        font-size: 16px;
      }
      @include respond(max-small) {
        max-width: 100%;
      }
      @include respond(max-extra-small) {
        font-size: 14px;
      }
    }

    &-link {
      display: block;
      margin-top: 15px;
      color: $c-ed1466;
      font-weight: 500;
      @include transition(opacity);

      &:hover {
        opacity: 0.8;
        @include transition(opacity);
      }
    }
  }
}

// FEATURES :: END