// MAIN :: START

.main {
  position: relative;
  padding-top: 185px;
  padding-bottom: 85px;
  @include respond(max-small) {
    padding-top: 155px;
    padding-bottom: 42px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include respond(max-medium) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include respond(max-medium) {
        width: 100%;
      }
    }

    &-left {
      @include respond(max-medium) {
        padding-bottom: 50px;
      }
    }

    &-right {
      @include respond(max-small) {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
      }
    }

    &-cover {
      width: 100%;
      max-width: 636px;
      margin-left: auto;
      margin-right: auto;
      @include respond(max-medium) {
        max-width: 100%;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    padding-bottom: 50px;
    line-height: 1;
    font-size: 100px;
    font-weight: 800;
    @include respond(max-small) {
      padding-bottom: 30px;
      font-size: 75px;
    }
    @include respond(max-extra-small) {
      padding-bottom: 30px;
      font-size: 55px;

      br {
        display: none;
      }
    }

    span {
      color: $c-ed1466;
    }
  }

  &__text {
    width: 100%;
    max-width: 587px;
    padding-bottom: 50px;
    line-height: 1.5;
    font-size: 24px;
    @include respond(max-small) {
      padding-bottom: 30px;
      font-size: 20px;
    }
    @include respond(max-extra-small) {
      padding-bottom: 30px;
      font-size: 18px;
    }
  }

  &__btn {
    margin-left: 0;
    text-transform: uppercase;
  }

  &__link {
    position: absolute;
    bottom: 25px;
    width: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

// MAIN :: END