// PLEDGES :: START

.pledges {
  overflow: hidden;
  position: relative;
  min-height: 1024px;
  padding-top: 247px;
  padding-bottom: 100px;
  background-color: $c-f2f2f2;
  @include respond(max-small) {
    padding-top: 123px;
    padding-bottom: 50px;
  }

  &__title {
    right: 0;
    bottom: 177px;
  }

  &__block {
    width: 100%;
    max-width: 300px;
    min-height: 450px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 50px 37px 40px;
    background-color: $c-white;
    box-shadow: 0 0 14px 1px rgba($c-black, 0.1);
    @include respond(max-large) {
      padding: 30px 15px;
    }
    @include respond(max-medium) {
      padding: 50px 37px 40px;
      margin-bottom: 30px;
    }
    @include respond(max-extra-small) {
      padding: 30px;
      margin: 0;
      margin-bottom: 30px;
    }

    &:first-child {
      margin-left: 0;
      @include respond(max-medium) {
        margin-left: 15px;
      }
      @include respond(max-extra-small) {
        margin-left: 0;
      }
    }
    &:last-child {
      margin-right: 0;
      @include respond(max-medium) {
        margin-right: 15px;
      }
      @include respond(max-extra-small) {
        margin-right: 0;
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include respond(max-medium) {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }

    &-title {
      text-align: center;
      padding-bottom: 15px;
      font-size: 24px;
      font-weight: bold;
      @include respond(max-large) {
        font-size: 22px;
      }
    }

    &-price {
      padding-bottom: 15px;
      line-height: 1;
      text-align: center;
      font-size: 82px;
      font-weight: 800;
      @include respond(max-extra-large) {
        font-size: 72px;
      }
      @include respond(max-large) {
        font-size: 52px;
      }
      @include respond(max-medium) {
        font-size: 72px;
      }

      span {
        font-size: 42px;
        @include respond(max-large) {
          font-size: 32px;
        }
        @include respond(max-medium) {
          font-size: 42px;
        }
      }
    }

    &-line {
      width: 100%;
      max-width: 150px;
      height: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
      background-color: $c-ed1466;
      @include respond(max-large) {
        margin-bottom: 26px;
      }
      @include respond(max-medium) {
        margin-bottom: 32px;
      }
    }

    &-list {
      li {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        @include respond(max-extra-large) {
          font-size: 16px;
        }
        @include respond(max-medium) {
          font-size: 18px;
        }

        i {
          margin-right: 15px;
        }
      }
    }

    &-btn {
      margin-top: 50px;
      @include respond(max-large) {
        margin-top: 30px;
      }
      @include respond(max-medium) {
        margin-top: 50px;
      }
    }
  }
}

// PLEDGES :: END