// LOGOTYPE :: START

.logo {
  &--footer {
    img  {
      @include respond(max-small) {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 52px;
      }
    }
  }
}

// LOGOTYPE :: END