// SOCIAL :: START

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 71px;
  @include respond(max-small) {
    padding-bottom: 52px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100%;
    border: 1px solid $c-white;
    background-color: $c-white;
    color: $c-0073ff;
    @include transition(color, background-color);

    &:hover {
      color: $c-white;
      background-color: transparent;
      @include transition(color, background-color);
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// SOCIAL :: END