// SOCIAL :: START

.social
  a.social__btn(
  href="#" title="" class=""
  )
    i.fab.fa-facebook-f
  a.social__btn(
  href="#" title="" class=""
  )
    i.fab.fa-twitter
  a.social__btn(
  href="#" title="" class=""
  )
    i.fab.fa-instagram
  a.social__btn(
  href="#" title="" class=""
  )
    i.fab.fa-linkedin-in

// SOCIAL :: END