$sprite: (
  battery-full: (
    offset-x: -70px,
    offset-y: 0px,
    width: 36px,
    height: 18px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
  bolt: (
    offset-x: -41px,
    offset-y: 0px,
    width: 24px,
    height: 36px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
  btn-corner: (
    offset-x: -41px,
    offset-y: -41px,
    width: 10px,
    height: 14px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
  chevron-down: (
    offset-x: 0px,
    offset-y: -72px,
    width: 30px,
    height: 18px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
  cloud: (
    offset-x: 0px,
    offset-y: 0px,
    width: 36px,
    height: 26px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
  lightbulb: (
    offset-x: 0px,
    offset-y: -31px,
    width: 26px,
    height: 36px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
  list-check: (
    offset-x: -70px,
    offset-y: -52px,
    width: 18px,
    height: 12px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
  play-circle: (
    offset-x: -70px,
    offset-y: -23px,
    width: 24px,
    height: 24px,
    total-width: 106px,
    total-height: 90px,
    image: '../img/sprite.png'
  ),
);

@mixin sprite-size($image) {
  background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}
@mixin sprite-width($image) {
  width: map-get(map-get($sprite, $image), 'width');
}
@mixin sprite-height($image) {
  height: map-get(map-get($sprite, $image), 'height');
}
@mixin sprite-position($image) {
  background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}
@mixin sprite-image($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image'));
}
@mixin sprite-image-retina($image) {
  $image-path: map-get(map-get($sprite, $image), 'image');
  $image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

  background-image: url($image-path-retina);
}
@mixin sprite($image, $size: true) {
  @include sprite-image($image);
  @include sprite-position($image);
  background-repeat: no-repeat;

  @if $size {
    @include sprite-width($image);
    @include sprite-height($image);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx)
  {
    @include sprite-size($image);
    @include sprite-image-retina($image);
  }
}

.battery-full:before {
  @include sprite(battery-full);
}
.bolt:before {
  @include sprite(bolt);
}
.btn-corner:before {
  @include sprite(btn-corner);
}
.chevron-down:before {
  @include sprite(chevron-down);
}
.cloud:before {
  @include sprite(cloud);
}
.lightbulb:before {
  @include sprite(lightbulb);
}
.list-check:before {
  @include sprite(list-check);
}
.play-circle:before {
  @include sprite(play-circle);
}
